:root{
    --cinza-fundo: #404040;
    --cinza-borda-fina: #222222;
    --barra-topo: #7bb7ba;
    --fundo-botao: #FFFFFF;
    --fundo-botao2: #eebb32;
    --login-window: #FFFFFF;
    --texto-titulos: #EEEEFF;
    --itens-principais: #7bb7ba;
}
