:root{
    --cinza-fundo: #404040;
    --cinza-borda-fina: #E0E0E0;
    --barra-topo: #D0D0D0;
    --fundo-botao: #FFFFFF;
    --login-window: #FFFFFF;
    --texto-titulos: #A0A0A0;
    --texto-subtitulos: #030303;
    --texto-textos: #171717;
}
