.l-top-bar{
    position: fixed;
    display: inline;
    height: 60px;
    background-color: var(--cor-barra-topo);
    width: 100%;
    border: none;
    top: 0;
}

.l-main-screen{
    border: none;
    position: relative;
    top: 100px;
}

.l-button-show-hidde{
    left: 10px;
    background: none;
}
