.is-main-screen{
    margin-left: 50px;
    margin-right: 50px;
}

.is-login-buttons{
    display: inline;
    left: 55%;
    background: none;
    border: none;
}

.is-button-show-hidde{
    display: none;
}

.is-logo-facebook{
    width: 200px;
}

#map{
    width: 400px;
    height: 400px;
}
