.is-main-screen{
    margin-left: 200px;
    margin-right: 200px;
}

.is-login-buttons{
    display: inline;
    left: 75%;
    background: none;
    border: none;
}

.is-button-show-hidde{
    display: none;
}

.is-logo-facebook{
    width: 300px;
}

#map{
    width: 700px;
    height: 700px;
}

.is-text-place{
    width: 80%;
}
